# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.build/
dist/
.eggs/
.venv/
.env

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Tools
.idea/
.vscode/
.mypy_cache/
.pytest_cache/

# Build artifacts
*.log

# PyInstaller
build/
*.spec
